body {
    background-color: rgb(192, 192, 192);
    color: rgb(28, 28, 28);
}

.main-container {
    padding: 20px;
    width: 1000px;
    /* border: 5px solid gray; */
    border-radius: 5px;
}

table {
    border: 1px solid gray;
    width: 100%;
    text-align: center;
}

#kisiler tr:first-child {
    background-color: rgb(240, 240, 240) !important;
    color: darkred;
    font-weight: 900;
}

table tr {
    height: 50px;
}